.overall-sales {
    height: 100%;

    .ant-typography {
        font-weight: 700;
    }

    .ant-tag-green-inverse {
        background: #f6ffed;
        color: #389e0d;
        border: none;
    }
}